<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="refreshExhibitors($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <section class="page-text selectable-text" padding-left padding-right *ngIf="appPage">
      <div #appPageContent [innerHtml]="appPage?.pageContent"></div>
  </section>

  <section class="exhibitors">

    <ion-list no-lines no-padding>
        <ion-item no-padding (click)="goToExhibitorsPage(exhibitor)" *ngFor="let exhibitor of exhibitors" class="exhibitor-card">

          <ion-card>
            <div class="card-header with-background" *ngIf="exhibitor.headerImg">
              <img [src]="exhibitor.headerImg" class="background-image" alt="">
              <div class="logo-wrap">
                <div class="sub-card">
                  <img [src]="exhibitor.logoImg" class="logo-image" alt="">
                </div>
              </div>
            </div>
            <div class="card-header no-background" *ngIf="!exhibitor.headerImg">
              <img [src]="exhibitor.logoImg" class="background-image" alt="">
            </div>
            <ion-card-content>
              <ion-card-title *ngIf="exhibitor.title">
                {{ exhibitor.title }}
              </ion-card-title>
              <p *ngIf="exhibitor.company">
                {{ exhibitor.company ? exhibitor.company : '' }}
              </p>
            </ion-card-content>
          </ion-card>

      </ion-item>
    </ion-list>
  </section>
</ion-content>
