<ion-header>
  <ion-navbar hideBackButton>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons end>

      <button class="filter-button" ion-button color="lightgrey" icon-only (click)="openPopoverAgenda($event)" *ngIf="this.title == 'Agenda' && globalProvider.conferenceOptions?.filter.enabled && (globalProvider.conferenceOptions?.filter.rooms || globalProvider.conferenceOptions?.filter.category)">
        <ion-icon name="options"></ion-icon>
        <ion-badge *ngIf="globalProvider.activeFilters.length">{{globalProvider.activeFilters.length}}</ion-badge>
      </button>
      <button ion-button color="lightgrey" icon-only (click)="openPopover($event)">
        <ion-icon ios="md-more" md="md-more"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-tabs>
  <ion-tab [root]="infoPage" tabTitle="{{globalProvider.getLabel('navInfo')}}" tabIcon="home" (ionSelect)="tabsChange($event)"></ion-tab>
  <ion-tab [root]="agendaPage" tabTitle="{{globalProvider.getLabel('navAgenda')}}" tabIcon="information-circle" (ionSelect)="tabsChange($event)"></ion-tab>
  <ion-tab [root]="speakerPage" tabTitle="{{globalProvider.getLabel('navSpeaker')}}" tabIcon="contacts" (ionSelect)="tabsChange($event)"></ion-tab>
  <ion-tab [root]="exhibitorsPage" *ngIf="globalProvider.conferenceOptions?.exhibitors" tabTitle="{{globalProvider.getLabel('navExhibitor')}}" tabIcon="easel" (ionSelect)="tabsChange($event)"></ion-tab>
</ion-tabs>
