<!--
  Generated template for the SpeakerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{speaker ? speaker.name : speaker}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <section class="speaker" *ngIf="speaker">

    <ion-grid>
      <ion-row align-items-center>

        <ion-col col-3 align-self-center class="profile-image">

          <ion-avatar>
            <img [src]="speaker.profileFoto">
          </ion-avatar>
        </ion-col>



        <ion-col auto class="profile-data">
          <h3 class="speaker-name selectable-text" *ngIf="speaker.name">{{ speaker.name }}</h3>
          <h5 class="speaker-data selectable-text">{{ speaker.company ? speaker.company : '' }}<span *ngIf="speaker.company && speaker.jobTitle">, </span>{{ speaker.jobTitle ? speaker.jobTitle : ''}}</h5>

        </ion-col>

      </ion-row>
    </ion-grid>



    <p class="short-description selectable-text" [innerHtml]="speaker?.description"></p>

    <div class="speaker-agenda" *ngIf="speakerSessions.length > 0">
      <h3>Vorträge von {{speaker.name}}</h3>
      <session-list [sessionList]="speakerSessions" [layout]="speakerSessions.layout"></session-list>
    </div>

  </section>

</ion-content>
