page-speaker {

	/* header shadow */
  .toolbar-ios,
  .toolbar-md {
    box-shadow: $toolbar-shadow;
  }

  /* 1st section top padding */
  .content {}
  .content-ios {
    section {
      &.speaker {
        padding-top: calc(#{$toolbar-ios-height - $content-padding });
      }
    }
  }
  .content-md {
    section {
      &.speaker {
        padding-top: calc(#{$toolbar-md-height - $content-padding });
      }
    }
  }


  .profile-image {
    width: 100%;
    max-width: 70px;
    height: auto;
    align-self: flex-start;
    ion-avatar {

      img {
        border-radius: 50%;
        overflow: hidden;
      }
    }
  }
	.profile-data {
    h3, h5 {
      margin: 0 0 3px;
      font-size: $font-h4;
      font-weight: $font-normal;
    }
    h3 {
      color: $font-color-primary;

    }
    h5 {
      color: $font-color-tertiary;
    }


	}




	/* base agenda list styling */
	// TODO: merge with global app list style
  /*
  .item-wrapper {
		&:last-child {
			.item-block {
				border-bottom: 0 !important;
			}
		}
	}
  .item-ios,
  .item-md {
    .item-inner {
      margin-left: -12px;
      padding-left: 16px;
      // border-left: .55px solid #c8c7cc;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;

        background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='circle' class='svg-inline--fa fa-circle fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23c8c7cc' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z'%3E%3C/path%3E%3C/svg%3E");

        padding-right: 12px;
        background-position: left 0px center;
        background-repeat: no-repeat;
        background-size: 8px 8px;
      }
    }
  }*/
	.speaker-agenda {
		padding-top: 27px;
    .date-heading {
      padding-left: 0px !important;
    }
	}

}
