<!--
  Generated template for the OverviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      Tagungen
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openSettingsPage()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content no-padding>

  <ion-refresher (ionRefresh)="refreshConferences($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <main padding>

  <section class="hero" *ngIf="currentConference != null" padding>
      <ion-slides card-slides slidesPerView="1">
        <ion-slide>
          <ion-card class="hero-card" (click)="goToConference(currentConference.id)" (press)="openActionSheetForConferences(currentConference.id)">
              <div class="hero-background" [style.backgroundImage]="'url(' + currentConference.image + ')'">
              </div>

              <div class="company-logo">
                <img [src]="getLogo(currentConference.brand)" />
              </div>

              <ion-card-content>
                <h6>Supertitle</h6>
                <h1>{{ currentConference.title }}</h1>
                <h1>{{ currentConference.subtitle }}</h1>
                <h5>{{ currentConference.startDate | date: 'dd.MM.' }} - {{ currentConference.endDate | date: 'dd.MM.yyyy' }}</h5>

              </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </section>




    <section *ngIf="currentConference == null">
      <ion-slides card-slides slidesPerView="1">
        <ion-slide>
          <ion-card class="empty-card">

            <div class="hero-background">
              <img src="https://www.smartinsurtech.de/smartinsurtech/uploads/2017/02/placeholder.jpg" alt="placeholder">
            </div>

            <ion-card-content>

              <h6>Supertitle</h6>
              <h1>Tagung hinzufügen h1</h1>
              <h2>Heading h2</h2>
              <h3>Heading h3</h3>
              <h4>Heading h4</h4>
              <h5>Subtitle h5</h5>

            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </section>



    <section *ngIf="nextConferences.length > 0">
      <h1>Zukünftige Tagungen</h1>
      <ion-slides card-slides slidesPerView="1.5" spaceBetween="10">
        <ion-slide *ngFor="let conference of nextConferences">
          <ion-card class="hero-card small-card" (click)="goToConference(conference.id)" (press)="openActionSheetForConferences(currentConference.id)">
              <img [src]="conference.image"/>

              <div class="company-logo">
                <img [src]="getLogo(currentConference.brand)" />
              </div>

              <ion-card-content>

                <h6>Supertitle</h6>
                <h1>{{ conference.title }}</h1>
                <h1>{{ conference.subtitle }}</h1>
                <h5>{{ conference.startDate | date: 'LLLL yyyy': 'CEST': 'de-DE' }}</h5>

              </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </section>


    <section *ngIf="lastConferences.length > 0">
      <h1>Vergangene Tagungen</h1>
      <ion-slides card-slides slidesPerView="1.5" spaceBetween="10">
        <ion-slide *ngFor="let conference of lastConferences">
          <ion-card class="hero-card small-card" (click)="goToConference(conference.id)" (press)="openActionSheetForConferences(currentConference.id)">
              <img [src]="conference.image"/>

              <div class="company-logo">
                  <img [src]="getLogo(conference.brand)" />
              </div>
              <ion-card-content>

                <h6>Supertitle</h6>
                <h1>{{ conference.title }}</h1>
                <h1>{{ conference.subtitle }}</h1>
                <h5>{{ conference.startDate | date: 'LLLL yyyy': 'CEST': 'de-DE' }}</h5>

              </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </section>





  </main>

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="this.presentAddConferenceModal()">
      <ion-icon name="md-add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
