<!--
  Generated template for the OverviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      Tagungen
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="lightgrey" (click)="openSettingsPage()">
        <ion-icon ios="md-more" md="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content no-padding>

  <ion-refresher (ionRefresh)="refreshConferences($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <main padding>
    <section class="hero" *ngIf="currentConference != null" padding>
      <!-- <h3 class="subtitle">Aktuelle Tagung</h3> -->
      <ion-slides card-slides slidesPerView="1">
        <ion-slide>
          <ion-card class="hero-card" (click)="goToConference(currentConference.id,currentConference.token,currentConference.brand,currentConference.options)" (press)="openActionSheetForConferences(currentConference.id)">
            <div class="hero-background" [style.backgroundImage]="'url(' + currentConference.image + ')'" [style.backgroundPosition]="currentConference.options.keyVisualPlacement">
            </div>


            <ion-card-content>
              <div class="card-content-top">
                <!-- <h6 class="todo">Supertitle</h6> -->
                <!-- <div class="company-logo">
                  <img [src]="getLogo(currentConference.brand)" />
                </div>-->

              </div>
              <div class="card-content-bottom">
                <h1>{{ currentConference.title }}</h1>
                <h2>{{ currentConference.subtitle }}</h2>
                <h5 *ngIf="currentConference.endDate.getTime()-currentConference.startDate.getTime() > 18*3600
                    && currentConference.endDate.getMonth() != currentConference.startDate.getMonth()">{{ currentConference.startDate | date: 'dd. LLL' }} - {{ currentConference.endDate | date: 'dd. LLL yyyy' }}</h5>

                <h5 *ngIf="currentConference.endDate.getTime()-currentConference.startDate.getTime() > 18*3600
                        && currentConference.endDate.getMonth() == currentConference.startDate.getMonth()">{{ currentConference.startDate | date: 'dd.' }} - {{ currentConference.endDate | date: 'dd. LLL. yyyy' }}</h5>

                <h5 *ngIf="currentConference.endDate.getTime()-currentConference.startDate.getTime() <= 18*3600">{{ currentConference.startDate | date: 'dd. LLLL yyyy' }}</h5>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </section>




    <section class="splashscreen" *ngIf="currentConference == null">

      <div class="add-conference-intro">
        <ion-grid>
          <ion-row align-items-center>
            <ion-col auto align-self-center>
              <div class="app-icon">
                <img src="assets/imgs/hypoport-logo.svg" />
              </div>
            </ion-col>
          </ion-row>

        </ion-grid>

        <h1>Hypoport Tagungs-App</h1>
        <p>Willkommen in der Hypoport Tagungs-App,<br>Ihrem digitalen Begleiter für Tagungen, Konferenzen und Workshops des Hypoport-Netzwerks.</p>

      </div>

      <div class="add-conference-hint">
        <p class="font-tertiary">Neugierig? Testen Sie die App mit der <br>Tagungskennung: <i>demo</i> und dem Passwort: <i>demo</i></p>
      </div>





    </section>



    <section *ngIf="nextConferences.length > 0" padding>
      <h3 class="subtitle">Zukünftige Tagungen</h3>
      <ion-slides card-slides slidesPerView="1.5" spaceBetween="10">
        <ion-slide *ngFor="let conference of nextConferences">
          <ion-card class="hero-card small-card" (click)="goToConference(conference.id,conference.token,conference.brand,conference.options)" (press)="openActionSheetForConferences(conference.id)">
            <div class="hero-background small" [style.backgroundImage]="'url(' + conference.image + ')'" [style.backgroundPosition]="conference.options.keyVisualPlacement">
            </div>


            <ion-card-content>
              <div class="card-content-top">
                <!-- <h6>Supertitle</h6> -->
                <!-- <div class="company-logo">
                  <img [src]="getLogo(currentConference.brand)" style="height:20px" />
                </div>-->
              </div>
              <div class="card-content-bottom">
                <h1 style="font-size:small">{{ conference.title }}</h1>
                <h2 style="font-size:small">{{ conference.subtitle }}</h2>
                <h5 style="font-size:small">{{ conference.startDate | date: 'LLLL yyyy': 'CEST': 'de-DE' }}</h5>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </section>


    <section *ngIf="lastConferences.length > 0" padding>
      <h3 class="subtitle">Vergangene Tagungen</h3>
      <ion-slides card-slides slidesPerView="1.5" spaceBetween="0">
        <ion-slide *ngFor="let conference of lastConferences">
          <ion-card class="hero-card small-card" (click)="goToConference(conference.id,conference.token,conference.brand,conference.options)" (press)="openActionSheetForConferences(conference.id)">
            <div class="hero-background small" [style.backgroundImage]="'url(' + conference.image + ')'" [style.backgroundPosition]="conference.options.keyVisualPlacement">
            </div>
            <ion-card-content>
              <div class="card-content-top">
                <!-- <h6>Supertitle</h6> -->
                <!-- <div class="company-logo">
                  <img [src]="getLogo(currentConference.brand)" style="height:20px" />
                </div> -->
              </div>
              <div class="card-content-bottom">
                <h1 style="font-size:small">{{ conference.title }}</h1>
                <h2 style="font-size:small">{{ conference.subtitle }}</h2>
                <h5 style="font-size:small">{{ conference.startDate | date: 'LLLL yyyy': 'CEST': 'de-DE' }}</h5>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </section>

  </main>




  <ion-fab center bottom>
    <button ion-fab color="primary" (click)="this.presentAddConferenceModal()">
      <ion-icon name="md-add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>

<!-- <ion-footer>
  <ion-toolbar>
    <button ion-button round color="primary" (click)="this.presentAddConferenceModal()">
      Tagung hinzufügen
    </button>
  </ion-toolbar>
</ion-footer> -->
