<!--
  Generated template for the OverviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      Tagungen
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <section *ngIf="currentConference != null">
    <ion-slides card-slides slidesPerView="1">
      <ion-slide>
        <ion-card class="hero-card" (click)="goToConference(currentConference.id)">
          <div class="hero-image">
            <ion-card-content>
              <div class="company-logo"></div>
              <div class="conv-date">{{ currentConference.startDate | date: 'dd.MM.' }} - {{ currentConference.endDate | date: 'dd.MM.yyyy' }}</div>
              <h1 class="maximus">{{ currentConference.title }}</h1>
              <h1>{{ currentConference.subtitle }}</h1>
            </ion-card-content>
          </div>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </section>


  <section *ngIf="currentConference == null">
    <ion-slides card-slides slidesPerView="1">
      <ion-slide>
        <ion-card class="empty-card">
          <ion-card-content>
            <h2 style="color: #333;">Noch keine Tagungen vorhanden</h2>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </section>

  <section *ngIf="nextConferences.length > 0">
      <h2>Zukünftige Tagungen</h2>
      <ion-slides card-slides slidesPerView="1.5" spaceBetween="10">
        <ion-slide *ngFor="let conference of nextConferences">
          <ion-card class="upcoming-card" (click)="goToConference(conference.id)">
            <div class="hero-image">
              <ion-card-content>
                <div class="company-logo"></div>
                <div class="conv-date">{{ conference.startDate | date: 'LLLL': 'CEST': 'de-DE' }} {{ conference.endDate | date: 'yyyy' }}</div>
                <h1>{{ conference.title }}</h1>
                <h2>{{ conference.subtitle }}</h2>
              </ion-card-content>
            </div>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </section>

  <section *ngIf="lastConferences.length > 0">
    <h2>Vergangene Tagungen</h2>
    <ion-slides card-slides slidesPerView="1.5" spaceBetween="10">
      <ion-slide *ngFor="let conference of lastConferences">
        <ion-card class="previous-card" (click)="goToConference(conference.id)">
          <div class="hero-image">
            <ion-card-content>
              <div class="company-logo"></div>
              <div class="conv-date">{{ conference.startDate | date: 'LLLL': 'CEST': 'de-DE' }} {{ conference.endDate | date: 'yyyy' }}</div>
              <h1>{{ conference.title }}</h1>
              <h2>{{ conference.subtitle }}</h2>
            </ion-card-content>
          </div>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </section>

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="this.presentAddConferenceModal()">
      <ion-icon name="md-add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
