page-overview {

  /* header + tabbar shadow */
  .toolbar-ios,
  .toolbar-md {
    box-shadow: none;
  }
  .toolbar-background {
    background: $offwhite;
  }

  main {
    display: flex;
    flex-direction: column;
    // height: 100%;
    min-height: 100%;
  }

  section {
    margin-bottom: 54px;

    &.splashscreen {
      display: flex;
			flex-flow: column nowrap;
			justify-content: center;
      padding: 0;
      align-items: center;
      flex-grow: 1;
      .add-conference-intro {
        padding: 54px 0;
        text-align: center;
        p {}
      }
    }
  }

  .app-icon {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    width: 96px;
    height: 96px;

    box-shadow: $card-shadow-primary;
    border: $base-border;
    border-radius: 20px;
    overflow: hidden;

    padding: 18px;
    img {
      box-shadow: 0px 4px 20px -4px rgba($red, .25);

      border-radius: 50%;
      overflow: hidden;
    }
  }


  // ion-footer {
  //   .toolbar-content-ios,
  //   .toolbar-content-md {
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     button {
  //       margin: 1rem 0;
  //     }
  //   }
  //   .toolbar-background-ios,
  //   .toolbar-background-md {
  //     background: transparent;
  //   }
  // }

}
