page-overview {

  /* header + tabbar shadow */
  .toolbar-ios,
  .toolbar-md {
    box-shadow: none;
  }
  .toolbar-background {
    background: $offwhite;
  }

  main {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }



  .content-ios {
    section {
      &.splashscreen {
        padding-bottom: $toolbar-ios-height;
        .add-conference-hint {
          bottom: calc(#{$toolbar-ios-height * 1.5 });
        }
      }
    }
  }
  .content-md {
    section {
      &.splashscreen {
        padding-bottom: $toolbar-md-height;
        .add-conference-hint {
          bottom: calc(#{$toolbar-md-height * 1.5 });
        }
      }
    }
  }



  section {


    &.splashscreen {



      display: flex;
			flex-direction: column;
			justify-content: center;
      align-items: center;
      flex-grow: 1;

      .add-conference-intro {
        text-align: center;
      }
      .add-conference-hint {
        position: absolute;
        text-align: center;
      }
    }
  }

  .app-icon {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    width: 96px;
    height: 96px;

    box-shadow: $card-shadow-primary;
    border: $base-border;
    border-radius: 20px;
    overflow: hidden;

    padding: 18px;
    img {
      box-shadow: 0px 4px 20px -4px rgba($red, .25);

      border-radius: 50%;
      overflow: hidden;
    }
  }


  // ion-footer {
  //   .toolbar-content-ios,
  //   .toolbar-content-md {
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     button {
  //       margin: 1rem 0;
  //     }
  //   }
  //   .toolbar-background-ios,
  //   .toolbar-background-md {
  //     background: transparent;
  //   }
  // }

}
