
page-agenda {



  /* segment filter styling */
  /* include toolbar in header */
  .segment {
    background: $toolbar-background;
    box-shadow: $toolbar-shadow;
  }
  .segment-ios {
    // margin-top: calc(#{$toolbar-ios-height});
    .segment-button {
      border-radius: 0 !important;

      border: 0;
      border-bottom-width: $segment-button-md-border-bottom-width;
      border-bottom-color:  rgba($black, .10);
      border-style: solid;

      &.segment-activated {
        background-color: transparent;
        color: $link-color;
        border-bottom-color:  $link-color;
      }
      &:hover {
        &:not(.segment-activated) {
          background-color: rgba($link-color, 0);
        }
      }

    }
  }
  .segment-md {
    // margin-top: calc(#{$toolbar-md-height});
    .segment-button {
      text-transform: none;
    }
  }

  /* section top padding */
  .content {}
  .content-ios {
    section {
      &.agenda {
        padding-top: calc(#{$toolbar-ios-height + $segment-button-ios-height - $content-padding });
      }
    }
  }
  .content-md {
    section {
      &.agenda {
        padding-top: calc(#{$toolbar-md-height + $segment-button-md-height - $content-padding });
      }
    }
  }



  /* base agenda list styling */
  // TODO: merge with global app list style

  session-list {
    ion-list {
      ion-item-sliding {

      }
    }
  }


    .add-favo-info {
      text-align: center;
      ion-icon {
        display: inline-block;
        font-size: 3.4rem;
        margin-bottom: 18px;
        margin-top: 30px;
        line-height: 50px;
        &.bookmark {
          display: inline-block;
          width: 50px;
          height: 50px;
          border-radius: 50px;
          background: lighten($brand-primary, 55%);
          color: $brand-primary;
          &:before {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
          }
          &.bookmark-inactive {
          }
          &.bookmark-active {
            &:before {
              content: '\f12e'
            }
          }
        }
      }
    }

    .filter-bar {
      overflow: hidden;
      margin-top: -20px;
      .filter {
        margin-right: 4px;
        padding: 2px 8px;
        border-radius: 14px;
        background-color: darken(color($colors, light),5%);
        display: inline-block;
        float: left;
      }
    }

}
