
page-agenda {



  /* segment filter styling */
  /* include toolbar in header */
  .segment {
    background: $toolbar-background;
    box-shadow: $toolbar-shadow;
  }
  .segment-ios {
    // margin-top: calc(#{$toolbar-ios-height});
    .segment-button {
      border-radius: 0 !important;

      border: 0;
      border-bottom-width: $segment-button-md-border-bottom-width;
      border-bottom-color:  rgba($black, .10);
      border-style: solid;

      &.segment-activated {
        background-color: transparent;
        color: $link-color;
        border-bottom-color:  $link-color;
      }
      &:hover {
        &:not(.segment-activated) {
          background-color: rgba($link-color, 0);
        }
      }

    }
  }
  .segment-md {
    // margin-top: calc(#{$toolbar-md-height});
    .segment-button {
      text-transform: none;
    }
  }

  /* section top padding */
  .content {}
  .content-ios {
    section {
      &.agenda {
        padding-top: calc(#{$toolbar-ios-height + $segment-button-ios-height - $content-padding });
      }
    }
  }
  .content-md {
    section {
      &.agenda {
        padding-top: calc(#{$toolbar-md-height + $segment-button-md-height - $content-padding });
      }
    }
  }



  /* base agenda list styling */
  // TODO: merge with global app list style

  session-list {
    ion-list {
      ion-item-sliding {

      }
    }
  }



  /* disable last bottom border */
	.list-ios,
	.list-md {
    .item-wrapper {
      .item-block {
  			&:last-child {
  				border-bottom: 0;;
  			}
  		}
    }
	}


  button {}


  /* base agenda list styling */
  .item-ios,
  .item-md {
    .item-inner {
      /* left agenda point line */
      margin-left: -12px;
      padding-left: 16px;


      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;

        background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='circle' class='svg-inline--fa fa-circle fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23d3d3d3' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z'%3E%3C/path%3E%3C/svg%3E");

        padding-right: 12px;
        background-position: left 0px center;
        background-repeat: no-repeat;
        background-size: 8px 8px;
      }
    }
  }

  /* first agenda entry */
  .item-wrapper {
    .item-inner {
      &:after {
        content: '';
        left: 3.45px;
        top: 0;
        height: 100%;
        position: absolute;
        width: .55px;
        background: $lightgrey;
      }
    }

    &:first-of-type {
      .item-inner {
        &:after {
          top: 50%;
        }
      }
    }
    &:last-of-type {
      .item-inner {
        &:after {
          top: auto;
          bottom: 50%;
        }
      }
    }
  }

  .add-favo-info {
    text-align: center;
    ion-icon {
      display: inline-block;
      font-size: 3.4rem;
      margin-bottom: 18px;
      margin-top: 30px;
      line-height: 50px;
      &.bookmark {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background: lighten($brand-primary, 55%);
        color: $brand-primary;
        &:before {
          display: flex;
          flex-flow: column wrap;
          justify-content: center;
          align-items: center;
          flex-grow: 1;
        }
        &.bookmark-inactive {
        }
        &.bookmark-active {
          &:before {
            content: '\f12e'
          }
        }
      }
    }
  }

}
