<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="refreshAgenda($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <ion-segment ion-fixed [(ngModel)]="activeSegment" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="allSessions">
      Alle
    </ion-segment-button>
    <ion-segment-button value="favoriteSessions">
      Favoriten
    </ion-segment-button>
  </ion-segment>



  <section class="agenda">


	<div [ngSwitch]="activeSegment">
	  <div *ngSwitchCase="'allSessions'">
	  	<session-list *ngIf="agenda && agenda.sessions" [sessionList]="agenda.sessions"></session-list>
	  </div>
	  <div *ngSwitchCase="'favoriteSessions'">
		  <session-list *ngIf="agenda && favoSessions" [sessionList]="favoSessions"></session-list>
	  </div>
	</div>

  </section>
</ion-content>
