
page-home {

  main {

    transform: translate3d(0,10px,10px);
    background: $background-color;
    border-top-left-radius: $border-radius-x3;
    border-top-right-radius: $border-radius-x3;

    background: linear-gradient(to bottom,
                  rgba($white, .85) 0,
                  rgba($white, .95) 30px,
                  $white 70px);
  }
  #map {
    overflow: hidden;
    position: relative;
    display: inline-block;
    // width: 100%;
    height: 300px;
    margin-left: -$content-padding;
    width: calc(100% + #{$content-padding*2});

    display: none;
  }




  ion-card {
    &.card-ios,
    &.card-md {

      &.service-card {
        // border-radius: $border-radius;
        // box-shadow: none;

      }
    }
  }


  /* conv home hero */
  .content-ios {
    .hero-image {
      margin-top: calc(#{$toolbar-ios-height * 1.5});
    }
  }
  .content-md {
      .hero-image {
        margin-top: calc(#{$toolbar-md-height * 1.5});
      }
    }
  .content-wp {
    .hero-image {
      margin-top: calc(#{$toolbar-wp-height * 1.5});
    }
  }


  .hero-image {
      min-height: 45vh;
      padding: 0;
      margin: 10px;

      /* shape */
      border-radius: $border-radius-x2;

      /* image position */
      background-position: center center;
      background-size: auto 102%;
      background-repeat: no-repeat;
  }





}
















.gm-style {
  filter: grayscale(100%);
  .gm-control-active,
  .gm-style-cc,
  .gmnoprint {
    display: none;
  }
}




ion-col.fixed-col {
  flex: 0 0 100px;
}



section {
  &.intro {
    .conv-title {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;

    }
    .conv-date {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;

      text-align: center;
      height: 100px;
      /* shape */
      background: $background-color;
      border-radius: $border-radius;
      box-shadow: $box-shadow;

      h2, h5 {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
  &.support {


    ion-grid {
            padding-top: 27px !important;
      ion-row {
        margin-bottom: 2rem;
        ion-col {

        }
      }
    }

    .profile-data {

      .button {
        margin-left: 0;
      }
      .button-small-ios,
      .button-small-md {
        font-size: $font-h5;


      }


    }

    .profile-image {

      line-height: 0;
      width: 44px;
      height: 44px;


      border-radius: 50%;
      overflow: hidden;



      img {
        width: 100%;
        height: auto;
        transform: scale(1.1);
      }
    }
    .profile-data {

      h4 {
        margin-bottom: .25rem;
      }


    }
  }
}
