<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content no-padding parallax-header>

  <ion-refresher (ionRefresh)="refreshConference($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>






  <section class="hero-image" [style.backgroundImage]="'url('+ conference?.image +')'"></section>

  <main class="main-content" padding>


    <section class="service parallax-card-slider">



        <ion-slides card-slides slidesPerView="1.2" spaceBetween="0" *ngIf="conference?.quickaccess">

          <ion-slide *ngFor="let card of conference.quickaccess; let i = index">

            <!-- default -->
            <ion-card class="service-card" *ngIf="!card.type || card.type == 'default'" [ngClass]="(card.action == 'selectable' ? 'text-selectable': '')" (click)="cardAction(card)">
              <ion-card-content>
                <div class="card-content-top">
                  <h6>{{card.cardTitle ? card.cardTitle : 'Kachel'}}</h6>
                  <ion-icon name="{{card.icon ? card.icon : 'radio-button-off'}}"></ion-icon>
                </div>
                <div class="card-content-bottom">
                  <h3 [innerHTML]="card.title"></h3>
                  <h5 [innerHTML]="card.subTitle"></h5>
                </div>
              </ion-card-content>
            </ion-card>

            <!-- card location and date -->
            <ion-card class="service-card loc-date" *ngIf="card.type == 'loc_date'" (click)="cardAction(card)">
              <ion-card-content>
                <div class="card-content-top">
                  <h6>{{card.cardTitle ? card.cardTitle : 'Location + Date'}}</h6>
                  <ion-icon name="{{card.icon ? card.icon : 'pin'}}"></ion-icon>
                </div>
                <div class="card-content-bottom">
                  <h3 [innerHTML]="conference?.directions?.address"></h3>
                  <h5>{{ conference?.startDate | date: 'dd.MM.yyyy' : 'UTC' }} - {{ conference?.endDate | date: 'dd.MM.yyyy' : 'UTC' }}</h5>
                </div>
              </ion-card-content>
            </ion-card>

            <!-- card location and date -->
            <ion-card class="service-card next-session" *ngIf="card.type == 'next_session'" (click)="cardAction(card)">
              <ion-card-content>
                <div class="card-content-top">
                  <h6>{{card.cardTitle ? card.cardTitle : 'Kommendes Ereignis'}}</h6>
                  <ion-icon name="{{card.icon ? card.icon : 'time'}}"></ion-icon>
                </div>
                <div class="card-content-bottom">
                  <h3 [innerHTML]="this.nextSession?.title"></h3>
                  <h5>{{this.nextSession?.timeStart | date: 'HH:mm': 'UTC'}} &mdash; {{this.nextSession?.timeEnd | date: 'HH:mm': 'UTC'}}</h5>
                </div>
              </ion-card-content>
            </ion-card>

          </ion-slide>
        <!--
        <ion-slide>
          <ion-card class="service-card">
            <ion-card-content>
              <div class="card-content-top">
                <h6>Kommendes Ereignis</h6>
                <ion-icon name="time"></ion-icon>
              </div>
              <div class="card-content-bottom">
                <h3 [innerHTML]="this.nextSession?.title"></h3>
                <h5>{{nextSession?.timeStart | date: 'HH:mm': 'CEST': 'de-DE'}} &mdash; {{nextSession?.timeEnd | date: 'HH:mm': 'CEST': 'de-DE'}}</h5>
              </div>
            </ion-card-content>

          </ion-card>

        </ion-slide>

          <ion-slide>
            <ion-card class="service-card">
              <ion-card-content>
                <div class="card-content-top">
                  <h6>Supertitle</h6>
                  <ion-icon name="wifi"></ion-icon>
                </div>
                <div class="card-content-bottom">
                  <h3>WiFi HotSpot Name</h3>
                  <h5>Ultrageheimes Passwort</h5>
                </div>
              </ion-card-content>

            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card class="service-card">
              <ion-card-content>
                <div class="card-content-top">
                  <h6>Supertitle</h6>
                  <ion-icon name="contact"></ion-icon>
                </div>
                <div class="card-content-bottom">
                  <h3>Unsere Teilnehmer</h3>
                  <h5>Unbekannt</h5>
                </div>
              </ion-card-content>

            </ion-card>
          </ion-slide> -->


        </ion-slides>

      </section>












      <section class="intro selectable-text">

        <h1>{{ conference?.header }}</h1>
          <div [innerHtml]="conference?.description"></div>
        </section>



  <hr>



  <section class="maps selectable-text">


    <h2>{{globalProvider.getLabel('homeDirections') ? global.getLabel('homeDirections') : 'Veranstaltungsort'}}</h2>

    <div [innerHtml]="conference?.directions?.description"></div>

    <div #map class="" id="map" padding></div>

  </section>



  <!-- <hr> -->


  <section class="support" *ngIf="conference?.contact">





  <ion-grid class="support-global support-card selectable-text">
    <ion-row>
      <ion-col col-12>
        <h2>{{globalProvider.getLabel('homeContact') ? global.getLabel('homeContact') : 'Ihr Ansprechpartner'}}</h2>
      </ion-col>
      <ion-col auto no-padding>
        <button ion-button small round color="cloud" icon-start (click)="openTel(conference.contact.telephone)">
          <ion-icon name="call"></ion-icon>
            {{ conference.contact.telephone }}
        </button>

        <button ion-button small round color="cloud" icon-start (click)="openMail(conference.contact.email)">
          <ion-icon name="paper-plane"></ion-icon>
            {{ conference.contact.email }}
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>






    <ion-list no-lines no-padding *ngIf="conference?.contact?.persons" class="support-individual">
      <ion-item *ngFor="let person of conference.contact.persons" >
        <ion-grid>

          <ion-row no-padding align-items-center>

            <!-- contact profile picture -->
            <ion-col col-3 align-self-center class="profile-image">
              <ion-avatar>
                <img [src]="person.avatarUrl">
              </ion-avatar>
            </ion-col>

            <!-- contact profile data (name/mail/tele) -->
            <ion-col auto class="profile-data selectable-text">
              <h3 class="contact-name" *ngIf="person.name">{{ person.name }}</h3>

              <button ion-button small color="cloud" *ngIf="person?.telephone" (click)="openTel(person.telephone)">{{ person.telephone }}</button>
              <button ion-button small color="cloud" *ngIf="person?.email" (click)="openMail(person.email)">{{ person.email }}</button>

            </ion-col>

          </ion-row>

        </ion-grid>
      </ion-item>
    </ion-list>









  </section>




  </main>

</ion-content>
