
page-home {

  /* header shadow */
  .toolbar-ios,
  .toolbar-md {
    box-shadow: $toolbar-shadow;
  }

  /* 1st section top margin */
  .content-ios {
    .hero-image {
      margin-top: calc(#{$toolbar-ios-height * 1});
    }
  }
  .content-md {
    .hero-image {
      margin-top: calc(#{$toolbar-md-height * 1});
    }
  }

  main {

    transform: translate3d(0,32px,10px);
    // background: linear-gradient(to bottom,
    //               rgba($background-color, .85) 0,
    //               rgba($background-color, .95) 16px,
    //               rgba($background-color, 100) 32px);

    background: $background-color;


    &:before {
      content: '';
      position: absolute;
      top: -25px;
      width: 25px;
      height: 25px;

      right: calc(#{$content-padding + 0 });

      background: radial-gradient(circle at 0 0, rgba(204,0,0,0) 25px, $background-color 25px);
      background-size: 100%;
      background-repeat: no-repeat;


      // top: calc(-#{$content-padding * 1});
      // left: calc(#{$content-padding + 0 });
      // right: calc(#{$content-padding + 0 });
      // border-top-left-radius: calc(#{$border-radius * 8});
      // border-top-right-radius: calc(#{$border-radius * 8});
      //
      // height: calc(#{$content-padding + 0 });
      // background: linear-gradient(to bottom,
      //             rgba($background-color, .75) 0,
      //             rgba($background-color, .85) 100%);
    }

    &:after {
      content: '';
      position: absolute;
      top: -25px;
      width: 25px;
      height: 25px;

      left: calc(#{$content-padding + 0 });

      background: radial-gradient(circle at 100% 0, rgba(204,0,0,0) 25px, $background-color 25px);
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }





  /* size + position conv hero image */
  .hero-image {
      min-height: 55vh;

      padding: 0;
      margin-left: calc(#{$content-padding * 1 });
      margin-right: calc(#{$content-padding * 1 });

      /* shape */
      border-radius: calc(#{$border-radius * 3});

      /* image position */
      background-position: center center;
      background-size: auto 102%;
      background-repeat: no-repeat;
  }


  ion-card {
    ion-card-content {
      min-height: 125px;
    }
  }

  /* google maps */
    #map {
      overflow: hidden;
      position: relative;
      display: inline-block;
      width: 100%;
      height: 300px;
      // margin-left: -$content-padding;
      // width: calc(100% + #{$content-padding*2});

      // display: none;
      border-radius: calc(#{$border-radius * 3});
    }

  .gm-style {
    filter: grayscale(100%);
    .gm-control-active,
    .gm-style-cc,
    .gmnoprint {
      display: none;
    }
  }


  section {
    &.service {
      padding-top: 27px;
      padding-bottom: 0;
    }
    &.intro {}
    &.support {
      // margin-left: calc(-#{$content-padding * 1 });
      // margin-right: calc(-#{$content-padding * 1 });
      // margin-bottom: calc(-#{$content-padding * 1 });
      //
      // background: #fff;
      // border: $base-border;

      // border-top-left-radius: calc(#{$border-radius * 6});
      // border-top-right-radius: calc(#{$border-radius * 6});
      // box-shadow: $card-shadow-primary;

      text-align: center;
    }
  }

  .support-individual {

  }
  .support-global {

        .button-ios,
        .button-md {
          margin-left: 0;
          &.button-small-ios,
          &.button-small-md {
            font-size: $font-h5;
          }
        }
  }


  .support-individual {
    padding-top: calc(#{$content-padding + 27px }) !important;

    .item-ios,
    .item-md {
      padding-left: 0;
      // margin-bottom: 1rem;
      // background: $white;
      // border-radius: calc(#{$border-radius * 1});
      // border: $base-border !important;

      border-bottom: .55px solid rgba($black, .12) !important;

      .item-inner {
        padding-right: 0;
      }
      .label-ios,
      .label-md {
        margin-right: 0;
      }

    }
    .button-ios,
    .button-md {
      margin-left: 0;
      &.button-small-ios,
      &.button-small-md {
        font-size: $font-h6;
      }
    }
    ion-avatar {
      display: flex;
      justify-content: center;
    }



  }


  .button-md {
    text-transform: none;
    box-shadow: none;
  }



}
