
page-home {


  main {

    transform: translate3d(0,32px,10px);
    background: $background-color;
    // border-top-left-radius: calc(#{$border-radius * 4});
    // border-top-right-radius: calc(#{$border-radius * 4});

    background: linear-gradient(to bottom,
                  rgba($white, .85) 0,
                  rgba($white, .95) 16px,
                  rgba($white, 100) 32px);

    &:before {
      content: '';
      position: absolute;
      top: calc(#{ 0 - $content-padding });;
      left: calc(#{$content-padding + 0 });
      right: calc(#{$content-padding + 0 });

      border-top-left-radius: calc(#{$border-radius * 4});
      border-top-right-radius: calc(#{$border-radius * 4});

      height: calc(#{$content-padding + 0 });
      background: linear-gradient(to bottom,
                    rgba($white, .75) 0,
                    rgba($white, .85) 100%);
    }
  }





  /* conv home hero image */
  /* header bar margin */
  .content-ios {
    .hero-image {
      margin-top: calc(#{$toolbar-ios-height * 1.5});
    }
  }
  .content-md {
      .hero-image {
        margin-top: calc(#{$toolbar-md-height * 1.5});
      }
    }
  /* size + position conv hero image */
  .hero-image {
      min-height: 55vh;

      padding: 0;
      margin-left: calc(#{$content-padding + 0 });
      margin-right: calc(#{$content-padding + 0 });

      /* shape */
      border-radius: calc(#{$border-radius * 3});

      /* image position */
      background-position: center center;
      background-size: auto 102%;
      background-repeat: no-repeat;
  }


  /* google maps */
    #map {
      overflow: hidden;
      position: relative;
      display: inline-block;
      // width: 100%;
      height: 300px;
      margin-left: -$content-padding;
      width: calc(100% + #{$content-padding*2});

      display: none;
    }

  .gm-style {
    filter: grayscale(100%);
    .gm-control-active,
    .gm-style-cc,
    .gmnoprint {
      display: none;
    }
  }


  section {
    &.service {
      padding-top: 27px;
    }
    &.intro {}
    &.support {}


  }


  .support-individual {
    .button-ios,
    .button-md {

      margin-left: 0;
      &.button-small-ios,
      &.button-small-md {
        font-size: $font-h6;
      }
    }
  }
  .button-md {
    text-transform: none;
    box-shadow: none;
  }


  .item-ios,
  .item-md {
    // ion-avatar {
    //   border-radius: 50%;
    //   overflow: hidden;
    //   width: 45px;
    //   height: 45px;
    //   img {
    //     width: 100%;
    //     height: auto;
    //     border-radius: 0;
    //     overflow: visible;
    //   }
    // }

  }


}
