// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.




/*
** custom variables
** typo
** colors
** shadows
** borders
*/


/* typo */
$font-base-size   : 1.4rem;
$font-line-height : 1.7;
$font-h1          : 2.4rem; // heading 1st lv
$font-h2          : 2.0rem; // heading 2nd lv
$font-h3          : 1.6rem; // heading 3rd lv
$font-h4          : 1.4rem; // small heading (ion-card, ion-list)
$font-h5          : 1.2rem; // subtitle (date, ...)
$font-h6          : 1.0rem; // supertitle
$font-small       : 75%;
$font-normal      : 400;
$font-medium      : 600;
$font-bold        : 700;


/* colors */
$red: #b11f30; // hypoport primary
$white: #ffffff;
$cobalt: #0050ef;
$offwhite: #fafafa;
$whitesmoke: #f5f5f5;
$cloud: #ecf0f1;
$silver: #c0c0c0;
$lightgrey: #d3d3d3;
$darkgrey: #8c8c8c;
$charcoal: #404040;
$dark: #202020;
$black: #000000;





/* text colors */
$font-color-primary:            $text-color;
$font-color-secondary:          lighten($text-color, 15%);
$font-color-tertiary:           lighten($text-color, 50%);


$font-color-text:               lighten($charcoal, 20%);
$font-color-text-lead:          lighten($charcoal, 10%);


/* background colors */
$background-primary:            $background-color;
$background-secondary:          darken($background-color, 5%);
$background-tertiary:           darken($background-color, 10%);


/* shadows */
$box-shadow: 0 4px 12px 10px rgba($black, .05);

$card-shadow-primary: 0px 10px 30px 0px rgba($black, .1); // hero card
$card-shadow-secondary: 0px 4px 10px -8px rgba($black, .5); // small card, contact card, speakers card







/* border */
$base-border: 1px solid lighten($silver, 20%);
$border-radius: 4px;
$border-radius-x2: 8px;
$border-radius-x3: 12px;





body {
    line-height: $font-line-height;
}
h1, h2, h3 {
  font-weight: $font-bold;
}
h4, h5, h6 {
  font-weight: $font-medium;
}
h1 {
  font-size: $font-h1;
}
h2 {
  font-size: $font-h2;
}
h3 {
  font-size: $font-h3;
}
h4 {
  font-size: $font-h4;
}
h5 {
  font-size: $font-h5;
}
h6 {
  font-size: $font-h6;
}
p, ul, li {
  font-weight: $font-normal;
  color: $font-color-secondary;

  a, b, strong {
    color: $font-color-primary;
  }
}
p.lead,
.lead p {
  font-size: calc(#{$font-size-base} * 1.15);
  text-align: justify;
}
a {
  font-weight: $font-medium;
  text-decoration: none;
}

b, strong {
  font-weight: $font-bold;
}

ul {
  padding: 0 0 0 1.5rem;
  li {
    padding-left: 1rem;
  }
}

hr {
  height: 1px;
  background-color: transparent;
  border-bottom: .55px solid #c8c7cc;
}


/*
** helper classes
*/
.speaker-card {
  /* shape */
  background: $background-color;
  border: $base-border !important;
  border-radius: calc(#{$border-radius * 2});
  box-shadow: $card-shadow-secondary;

  /* override base list settings for better card styling */
  &.item-ios,
  &.item-md {
    &.item-block {
      margin-bottom: 1rem;
      .item-inner {
        padding-right: 0;
      }
    }
    .label-ios,
    .label-md {
      margin: 5px;
    }
  }
}






.supertitle {
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: $font-color-secondary;
  font-weight: $font-normal;
  margin-bottom: .5rem;

  + h1,
  + h2,
  + h3,
  + h4,
  + h5 {
    margin-top: 0;
  }
}
.subtitle {
  color: $font-color-secondary;
  font-weight: $font-medium;

}






/*
** base structure
** ion-app
** ion-header
** ion-title
** ion-content
** ion-tabs
*/


ion-title {}

/* center header title (.title-ios copy) */
.title-md {
  left: 0;
  top: 0;
  padding: 0 90px 1px;
  position: absolute;
  width: 100%;
  height: 100%;

}

.toolbar-title-md {
  text-align: center;
  font-size: 1.7rem;
  font-weight: $font-medium;
}
// disable base toolbar background shadow
.header-md {
  &:after {
    display: none;
  }
}
.tabbar {
  &:before {
    display: none;
  }
}

ion-content {
  &.content-ios,
  &.content-md {
    // background: $off-white;
  }
}








/*
** base slider
** ion-slides
*/

ion-slides[card-slides] {

	height: auto;

	margin-left: -$content-padding;
	width: calc(100% + #{$content-padding * 2});



	.swiper-container {
		// padding-bottom: 30px;
    // height: 100%;
	}
	.swiper-slide, .swiper-container, .swiper-wrapper {
		height: 100%;
		overflow: visible;
	}
	.swiper-slide .slide-zoom, .swiper-slide .card {
		height: 100%;

	}
	.swiper-slide img {
	}
	.swiper-slide .hero-background {
		// background-position: center center;
		// background-size: cover;
		// min-height: 30vh;
	}
}



/*
** base ion items
** ion-card (hero card, service card, speaker card, ...)
** ion-list (agenda, ...)
** ion-item
*/
ion-card {
  display: flex;
  flex-flow: column wrap;


  ion-card-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    min-height: 115px;
    .card-content-top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .card-content-bottom {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

  }
  ion-icon {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background: $white;
    border: $base-border;
    color: $font-color-tertiary;

    /* vertical center */
    &:before {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;
    }

  }
  .hero-background {
    background-position: center center;
    background-size: cover;
    min-height: 45vh;
  }
  .company-logo {
    justify-content: flex-end;
    margin-top: -70px;
    padding: 10px;

    img {
      height: 50px;
      padding: 2px;
      border-radius: 50px;
    }
  }
}



.card-ios,
.card-md {

  /* shape */
  background: $background-color;
  border: $base-border;
  border-radius: calc(#{$border-radius * 3});
  box-shadow: $card-shadow-primary;

  &.service-card,
  &.speaker-card {
      box-shadow: $card-shadow-secondary;
  }

  /* typo reset */
  h1, h2, h3, h4, h5, h6, p {
    color: $text-color;
    text-align: left;
  }
  h1, h2, h3 {
    font-weight: $font-medium;
  }
  h4, h5, h6 {
    font-weight: $font-normal;
  }
  p {
    font-weight: $font-normal;
  }

  /* typo custom */
  /* supertitle */
  h6 {
    // flex-grow: 1;
    font-size: $font-h6;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: $font-color-tertiary;
    // font-weight: $font-normal;
  }

  h1 {}
  h2 {}
  /* heading */
  h3 {}
  h4 {}
  /* subtitle */
  h5 {
    color: $font-color-tertiary;
  }
}




/* ion-list */
ion-list {
  ion-label {
    white-space: normal;
  }
}
.list {}
.list-ios,
.list-md {

}




/* ion-item */
button {
  // &.item-ios,
  // &.item-md {
  //   .item-inner {
  //     /* left agenda point line */
  //     margin-left: -12px;
  //     padding-left: 16px;
  //     // border-left: .55px solid #c8c7cc;
  //
  //     &:before {
  //       content: '';
  //       position: absolute;
  //       left: 0;
  //       top: 0;
  //       bottom: 0;
  //
  //       background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='circle' class='svg-inline--fa fa-circle fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23c8c7cc' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z'%3E%3C/path%3E%3C/svg%3E");
  //
  //       padding-right: 12px;
  //       background-position: left 0px center;
  //       background-repeat: no-repeat;
  //       background-size: 8px 8px;
  //     }
  //   }
  // }
}

.item-ios,
.item-md {
  /* typo reset */
  h1, h2, h3, h4, h5, h6, p {
    color: $text-color;
    text-align: left;
  }
  h1, h2, h3 {
    font-weight: $font-medium;
  }
  h4, h5, h6 {
    font-weight: $font-normal;
  }
  p {
    font-weight: $font-normal;
  }
  /* typo custom */
  /* supertitle */
  h6 {
    font-size: $font-h6;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: $font-color-tertiary;
    font-weight: $font-normal;
  }
  /* heading */
  h1 {}
  h2 {}
  /* small version of h3 heading */
  h3 {}
  h4 {}
  /* subtitle */
  h5 {
    color: $font-color-tertiary;
  }
}






/* new button styling for ion-item */

































/*
** base icon
** ion-icon
*/

ion-icon {
  // display: flex;
  font-size: calc(#{$font-size-base * 1.5});
}



/*
** base viewport sections for page-home
** homescreen (dashboard)
** conv home hero pic
** conv home service panels
** conv home intro paragraph
** conv home location + maps
** conv home support
*/

section {
  padding: 54px 0;
}


/*
** base button
** ion-button
*/


.button-round-ios,
.button-round-md {
  padding: 0 .9rem;
}
