ion-content[parallax-header]{

    main {

      transform: translate3d(0,32px,10px);
      // background: linear-gradient(to bottom,
      //               rgba($background-color, .85) 0,
      //               rgba($background-color, .95) 16px,
      //               rgba($background-color, 100) 32px);

      background: $background-color;

      &:before {
        content: '';
        position: absolute;
        top: -18px;
        width: 18px;
        height: 18px;

        right: calc(#{$content-padding * 0.4 });

        background: radial-gradient(circle at 0 0, rgba(204,0,0,0) 18px, $background-color 18px);
        background-size: 100%;
        background-repeat: no-repeat;


        // top: calc(-#{$content-padding * 1});
        // left: calc(#{$content-padding + 0 });
        // right: calc(#{$content-padding + 0 });
        // border-top-left-radius: calc(#{$border-radius * 8});
        // border-top-right-radius: calc(#{$border-radius * 8});
        //
        // height: calc(#{$content-padding + 0 });
        // background: linear-gradient(to bottom,
        //             rgba($background-color, .75) 0,
        //             rgba($background-color, .85) 100%);
      }

      &:after {
        content: '';
        position: absolute;
        top: -18px;
        width: 18px;
        height: 18px;
        left: calc(#{$content-padding * 0.4 });

        background: radial-gradient(circle at 100% 0, rgba(204,0,0,0) 18px, $background-color 18px);
        background-size: 100%;
        background-repeat: no-repeat;
      }
    }





    /* size + position conv hero image */
    .hero-image {
      overflow: hidden;
      max-height: 380px;
        padding: 0;
        margin-left: calc(#{$content-padding * 0.4 });
        margin-right: calc(#{$content-padding * 0.4 });
        margin-top: calc(#{$toolbar-ios-height * 0.3});
        /* shape */
        border-radius: calc(#{$border-radius * 3});
        img {
          border-radius: calc(#{$border-radius * 3});
          margin-left: auto;
          margin-right: auto;
          display: block;
        }
      &.advanced-placement {
        overflow: visible;        
      }
    }

    @media screen and (max-width: 640px){

      .hero-image {
        max-height: 350px;
      }

      .hero-image.advanced-placement img {
        margin-left: -10%;
        max-width: 120%;
        width: 120%;
      }
    }
    @media screen and (max-width: 700px) and (min-width: 640px) {

      .hero-image {
        max-height: 380px;
      }

      .hero-image.advanced-placement img {
        margin-left: -15%;
        max-width: 130%;
        width: 130%;
      }
    }
    @media screen and (max-width: 980px) and (min-width: 700px) {

      .hero-image {
        max-height: 450px;
      }

      .hero-image.advanced-placement img {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        display: block;
        width: auto;
      }
    }
    @media screen and (min-width: 980px){

      .hero-image {
        max-height: 520px;
      }

      .hero-image.advanced-placement img {
        margin-left: auto;
        margin-right: auto;
        max-width: 70%;
        display: block;
        width: auto;
      }
    }

  }
