page-speakers {
  /* header shadow */
  .toolbar-ios,
  .toolbar-md {
    box-shadow: $toolbar-shadow;
  }

  /* 1st section top padding */
  .content {}
  .content-ios {
    section {
      &.speakers {
        padding-top: calc(#{$toolbar-ios-height - $content-padding });
      }
    }
  }
  .content-md {
    section {
      &.speakers {
        padding-top: calc(#{$toolbar-md-height - $content-padding });
      }
    }
  }

  // .speaker-data {
  //   display: flex;
  //   flex-direction: row;
  //   align-items: baseline;
  //
  //   > :first-child {
  //     margin-right: 1rem;
  //   }
  // }
  .profile-image {
    text-align: center;
  }
  .profile-image img, .profile-image ion-img {
    width: 54px;
    height: 54px;
    margin-left: auto;
    margin-right: auto;
  }

}
