<ion-content padding>

  <ion-refresher (ionRefresh)="refreshSpeakers($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <section class="speakers">




    <ion-list no-lines no-padding>

      <ion-item no-padding (click)="goToSpeakerPage(speaker)" *ngFor="let speaker of speakers" class="speaker-card">
      <ion-grid>
        <ion-row align-items-center>

          <!-- speaker profile picture -->
          <ion-col col-2 class="profile-image">
            <ion-avatar *ngIf="speaker.profileFoto">
              <img [src]="speaker.profileFoto" alt="Speaker profile foto">
            </ion-avatar>
          </ion-col>

          <!-- speaker profile data (name/company/jobtitle) -->
          <ion-col auto class="profile-data">
              <h3 class="speaker-name" *ngIf="speaker.name">{{ speaker.name }}</h3>

              <div class="speaker-data">
                <h5 class="job-title">{{ speaker.jobTitle }}</h5>
                <h5 class="company">{{ speaker.company }}</h5>
              </div>

          </ion-col>

        </ion-row>
      </ion-grid>

    </ion-item>





    </ion-list>
  </section>
</ion-content>
