<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="refreshSpeakers($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <section class="speakers">




    <ion-list no-lines no-padding>

      <ion-item no-padding (click)="goToSpeakerPage(speaker)" *ngFor="let speaker of speakers" class="speaker-card">
      <ion-grid>
        <ion-row align-items-center>

          <!-- speaker profile picture -->
          <ion-col col-2 class="profile-image">
            <ion-avatar *ngIf="speaker.profileFoto">
              <img [src]="speaker.profileFoto" alt="Speaker profile foto">
            </ion-avatar>
          </ion-col>

          <!-- speaker profile data (name/company/jobtitle) -->
          <ion-col auto class="profile-data">
          <h4 class="speaker-pre-title" *ngIf="speaker.title">{{ speaker.title }}</h4>
          <h3 class="speaker-name" *ngIf="speaker.name">{{ speaker.name }}</h3>
          <h5 class="speaker-data">{{ speaker.company ? speaker.company : '' }}<span *ngIf="speaker.company && speaker.jobTitle">, </span>{{ speaker.jobTitle ? speaker.jobTitle : ''}}</h5>

          </ion-col>

        </ion-row>
      </ion-grid>

    </ion-item>

    </ion-list>


  </section>
</ion-content>
