$categories: (
  ionic: color($colors, primary),
  angular: #AC282B,
  communication: #8E8D93,
  tooling: #FE4C52,
  services: #FD8B2D,
  design: #FED035,
  workshop: #69BB7B,
  food: #3BC7C4,
  documentation: #B16BE3,
  navigation: #6600CC,
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

session-list {
  @each $category, $value in auxiliary-categories() {
    ion-item-sliding[category=#{$category}] ion-label {
      border-left: 2px solid $value;
      padding-left: 10px;
    }
  }

  h4 {
    margin: 0 0 0.5rem 0 !important;
    font-size: 1.4rem;
    color: color($colors, darkgrey) !important;
    span {
      margin-right: 0.75rem;
      &:empty {
        display: none;
      }
    }
  }

}

.agenda-stats {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  h5 {
    margin: 0 1rem 0 0 !important;
  }

  ion-icon {
    margin-left: auto;
    font-size: 1.4rem;
    &.bookmark {
      display: flex;
      width: 25px;
      height: 25px;
      border-radius: 25px;
      background: lighten($brand-primary, 55%);
      color: $brand-primary;
      &:before {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
      }
      &.bookmark-inactive {
      }
      &.bookmark-active {
        &:before {
          content: '\f12e'
        }
      }
    }
  }
}
