$categories: (
  ionic: color($colors, primary),
  angular: #AC282B,
  communication: #8E8D93,
  tooling: #FE4C52,
  services: #FD8B2D,
  design: #FED035,
  workshop: #69BB7B,
  food: #3BC7C4,
  documentation: #B16BE3,
  navigation: #6600CC,

  // primary
  strategie: #ff6501,
  praxis: #002e68,
  mindset: #6BA4CF,

  // secondary (nicht wichtig)
  // transit: #f6e772,
  // break: #b5b5b5,
  // party: #98c4d2,


);

@function auxiliary-categories() {
  @return map-remove($categories);
}

session-list {
  @each $category, $value in auxiliary-categories() {
    ion-item-sliding[category=#{$category}] ion-card {

    }

    .card-label.#{$category} {
      background: lighten($value, 30%) !important;
      border-color: lighten($value, 10%) !important;
      ion-icon {
        color: $value !important;
      }
      h6 {
        color: $value;
      }
    }
  }

  h4 {
    margin: 0 0 0.5rem 0 !important;
    font-size: 1.4rem;
    color: color($colors, darkgrey) !important;
    span {
      margin-right: 0.75rem;
      &:empty {
        display: none;
      }
    }
  }

}

.day-group {
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid lighten(color($colors, lightgrey),6%);


  &:last-of-type {
    border-bottom: 0px !important;
  }
  .date-heading {

    padding: 0 12px 20px;
    margin-bottom: 0 !important;

    color: darken(color($colors, lightgrey),22%) !important;


    ion-icon {
      margin-left: -12px;

      font-size: 1.6rem;
      width: 25px;
      height: 25px;
      line-height: 25px;
      border-radius: 25px;
      background: lighten(color($colors, lightgrey),12%);

      color: darken(color($colors, lightgrey),14%) !important;
      border: $base-border;
      border-color: lighten($silver, 0%);
      border: 0 !important;
      background: lighten($background-secondary, 5%);
      &:before {

        margin-left: 4px;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
      }
    }
  }
}

.agenda-stats {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;


  h5 {
    margin: 0 1rem 0 0 !important;
  }

  ion-icon {
    margin-left: auto;
    font-size: 1.4rem;
  }
}

// bookmark icon
ion-icon {
  &.bookmark {
    display: flex;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background: lighten($brand-primary, 55%);
    color: $brand-primary;
    &:before {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
    }
    &.bookmark-inactive {
    }
    &.bookmark-active {
      &:before {
        content: '\f12e'
      }
    }
  }
}





.layout-parallel-cards {
  // full width parallel cards container (override base padding)
  margin-right: -#{$content-padding};
  margin-left: -#{$content-padding};


  ion-list {}
  ion-item-sliding {}
  .item-ios,
  .item-md {
    padding-left: 0;
    &.item-block {
      .item-inner {
        padding: 0;
        margin: 0 0 0 12px;
        margin-left: 0;
        &:before {
          padding-right: 28px;
          background-position: left 10px center;
        }
        &:after {
          content: '';
          left: 13.5px;
          top: 0;
          height: 100%;
          position: absolute;
          width: .5px;
          background: $lightgrey;
        }
      }
    }
    .label-ios,
    .label-md {
      margin: 0;
    }
  }
  ion-item-sliding {


    &:first-of-type {
      .item-ios,
      .item-md {
        &.item-block {
          .item-inner {
            &:after {
              top: 50%;
            }
          }
        }
      }
    }
    &:last-of-type {
      .item-ios,
      .item-md {
        &.item-block {
          .item-inner {
            &:after {
              top: auto;
              bottom: 50%;
            }
          }
        }
      }
    }


  }






  .agenda-stats {
    padding-left: 28px;
    height: 20px;
    // margin-top: 16px;
  }



  ion-slides[card-slides] {
    // margin-left: calc(#{$content-padding} - #{$card-ios-margin-left});
    // width: calc(100% - calc(#{$content-padding} - #{$card-ios-margin-left}));
    width: calc(100% - 18px);
    width: calc(100% - 30px);
    margin: 0 12px 0 6px;
    margin-left: 18px;
    padding-bottom: 20px;

    .swiper-wrapper {
      display: flex;
      flex-direction: row;
    }

    // stretch non parallel slot to max-width
    ion-slide {
      display: flex;
      flex-grow: 1;

    }
  }

  .input-wrapper {
    // overflow: visible;
    // width: 100%;

  }
  ion-label {
    // overflow: visible;
    width: 100%;
  }

}
.session-card-slider {
  // margin-left: -$content-padding;
  // width: calc(100% + #{$content-padding*3});
}
.session-card {
  // max-width: 320px;
}










.agenda-card {
  margin: 10px;
  width: calc(100% - 20px);

  ion-card-content {

    justify-content: flex-start;
    // flex-direction: column;
    // flex-wrap: nowrap;
    // height: auto;
    // flex-shrink: 1;

    .card-content-top {
      position: relative;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-bottom: 1.6rem;
      width: calc(100% - 10px);
      .card-label {
        display: flex;
        flex-direction: row;
        align-items: center;

        border-radius: calc(#{$border-radius * 1});
        border: $base-border;
        border-color: lighten($silver, 15%);
        // border: 0 !important;
        background: lighten($background-secondary, 5%);

        padding: .3rem .6rem;
        margin-right: .6rem;
        margin-bottom: .3rem;
        &:last-of-type {
          margin-right: 0;

        }


        // custom color label without border
        ion-icon {
          font-size: calc(#{$font-size-base * 1});
          height: 100%;
          width: 100%;

          border: 0;
          background: none;
          color: $font-color-tertiary;

          &:after {
          display: none;
          }
        }
        h6 {
          margin-top: 2px;
          margin-bottom: 0;
          line-height: 1;
          padding: 0 0 0 .6rem;
          white-space: nowrap;
          font-size: 9px;
        }
      }

      // bookmark icon
      ion-icon {
        &.bookmark {
          position: absolute;
          left: calc(100% - 15px);
          top: -1px;
          font-size: 1.4rem;
          border-radius: 0;
          background: transparent;
          border: 0;
          &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: scale(2.6);
            background: linear-gradient(to right, transparent , white 25%);
          }
          &:before {
            border: $base-border;
            border-color: lighten($brand-primary, 40%);
            border-radius: 25px;
            background: lighten($brand-primary, 55%);
            color: $brand-primary;
            z-index: 2;
          }
        }
      }
    }
    .card-content-bottom {
      // justify-content: flex-start;
    }
  }






  .parallel-session-title {
    margin: 0;
    padding: 0;
  }
  .speaker {
    padding-left: 0;
    ion-avatar {
      img {
        width: 30px;
        height: 30px;
      }
    }
  }

}
