@function auxiliary-categories() {
  @return map-remove($agendaCategories);
}

$redDotSvg : "%3Csvg%20%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20aria-hidden%3D%27false%27%20%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20focusable%3D%27false%27%20%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20data-prefix%3D%27fas%27%20%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20data-icon%3D%27circle%27%20%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20class%3D%27svg-inline--fa%20fa-circle%20fa-w-16%27%20%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20role%3D%27img%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20viewBox%3D%270%200%20512%20512%27%0A%20%20%20%20%20%20%20%20%20%20%20%20%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cstyle%20type%3D%22text%2Fcss%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%23circle%20%7B%20%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20transform-origin%3A%20center%20center%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20animation%3A%20x%202s%20ease%20alternate%20infinite%3B%20%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20border-radius%3A%2030px%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20%20%20%20%20%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%40keyframes%20x%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20from%20%7B%20fill%3A%20%23a32e35%3B%20%7D%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20to%20%7B%20%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20fill%3A%20rgb%28211%2C%20211%2C%20211%29%3B%20%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fstyle%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20id%3D%27circle%27%20fill%3D%27%23a32e35%27%20d%3D%27M256%208C119%208%208%20119%208%20256s111%20248%20248%20248%20248-111%20248-248S393%208%20256%208z%27%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fsvg%3E";

session-list {
  /* disable last bottom border */
	.list-ios,
	.list-md {
    .item-wrapper {
      &.item-wrapper--current .item .item-inner:before {
        background-image: url("data:image/svg+xml, #{$redDotSvg}");
      }
      .item-block {
  			&:last-child {
  				border-bottom: 0;;
  			}
  		}
    }
	}


  button {}


  /* base agenda list styling */
  .item-ios,
  .item-md {
    .item-inner {
      /* left agenda point line */
      margin-left: -12px;
      padding-left: 16px;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 1;

        background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='circle' class='svg-inline--fa fa-circle fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23d3d3d3' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z'%3E%3C/path%3E%3C/svg%3E");

        padding-right: 12px;
        background-position: left 0px center;
        background-repeat: no-repeat;
        background-size: 8px 8px;
      }
    }
  }

  /* first agenda entry */
  .item-wrapper {
    .item-inner {
      &:after {
        content: '';
        left: 3.45px;
        top: 0;
        height: 100%;
        position: absolute;
        width: 1px;
        background: transparent;
        box-shadow: inset 0 0 0 0.25px $lightgrey;
      }
    }

    &:first-of-type {
      .item-inner {
        &:after {
          top: 50%;
        }
      }
    }
    &:last-of-type {
      .item-inner {
        &:after {
          top: auto;
          bottom: 50%;
        }
      }
    }
  }
}

.day-group {
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid lighten(color($colors, lightgrey),6%);


  &:last-of-type {
    border-bottom: 0px !important;
  }
  .date-heading {

    padding: 0 12px 20px;
    margin-bottom: 0 !important;

    &.top-head {
      padding: 0 12px 7px;
    }
    &.sub-head {
      color: darken(color($colors, lightgrey),22%) !important;
    }

    ion-icon {
      margin-left: -12px;

      font-size: 1.6rem;
      width: 25px;
      height: 25px;
      line-height: 25px;
      border-radius: 25px;
      background: lighten(color($colors, lightgrey),12%);

      color: darken(color($colors, lightgrey),14%) !important;
      border: $base-border;
      border-color: lighten($silver, 0%);
      border: 0 !important;
      background: lighten($background-secondary, 5%);
      &:before {

        margin-left: 4px;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
      }
    }
  }
}

.agenda-stats {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;


  h5 {
    margin: 0 1rem 0 0 !important;
    color: darken(color($colors, lightgrey),22%);
  }

  ion-icon {
    margin-left: auto;
    font-size: 1.4rem;
  }
}

// bookmark icon
ion-icon {
  &.bookmark {
    display: flex;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    &:before {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
    }
    &.bookmark-inactive {
      color: darken(color($colors, lightgrey),22%);
    }
    &.bookmark-active {
      background: lighten($brand-primary, 55%);
      color: $brand-primary;
      &:before {
        content: '\f12e'
      }
    }
  }
}





.layout-parallel-cards {
  // full width parallel cards container (override base padding)
  margin-right: -#{$content-padding};
  margin-left: -#{$content-padding};


  ion-list {}
  ion-item-sliding {}
  .item-ios,
  .item-md {
    padding-left: 0;
    &.item-block {
      .item-inner {
        padding: 0;
        margin: 0 0 0 12px;
        margin-left: 0;
        &:before {
          padding-right: 28px;
          background-position: left 9.5px top 6px;
        }
        &:after {
          content: '';
          left: 13px;
          top: 0;
          height: calc(100% + 10px);
          position: absolute;
          width: 1px;
          background: $lightgrey;
        }
      }
    }
    .label-ios,
    .label-md {
      margin: 0;
    }
  }
  ion-item-sliding {


    &:first-of-type {
      .item-ios,
      .item-md {
        &.item-block {
          .item-inner {
            &:after {
              top: 10px;
            }
          }
        }
      }
    }
    &:last-of-type {
      .item-ios,
      .item-md {
        &.item-block {
          .item-inner {
            &:after {
              top: auto;
              top: 0px;
              height: 14px;
            }
          }
        }
      }
    }


  }






  .agenda-stats {
    padding-left: 28px;
    height: 20px;
    // margin-top: 16px;
  }



  ion-slides[card-slides] {
    // margin-left: calc(#{$content-padding} - #{$card-ios-margin-left});
    // width: calc(100% - calc(#{$content-padding} - #{$card-ios-margin-left}));
    width: calc(100% - 18px);
    width: calc(100% - 30px);
    margin: 0 12px 0 6px;
    margin-left: 18px;
    padding-bottom: 20px;

    .swiper-wrapper {
      display: flex;
      flex-direction: row;
    }

    // stretch non parallel slot to max-width
    ion-slide {
      display: flex;
      flex-grow: 1;

    }
  }

  .input-wrapper {
    // overflow: visible;
    // width: 100%;

  }
  ion-label {
    // overflow: visible;
    width: 100%;
  }

}
.session-card-slider {
  // margin-left: -$content-padding;
  // width: calc(100% + #{$content-padding*3});
}
.session-card {
  // max-width: 320px;
}










.agenda-card {
  margin: 10px;
  width: calc(100% - 20px);

  ion-card-content {

    justify-content: flex-start;
    // flex-direction: column;
    // flex-wrap: nowrap;
    // height: auto;
    // flex-shrink: 1;

    .card-content-top {
      position: relative;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-bottom: 1.6rem;
      width: calc(100% - 10px);
      .card-label {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: darken(color($colors, lightgrey),15%);

        border-radius: calc(#{$border-radius * 1});
        border: $base-border;
        border-color: lighten($silver, 15%);
        // border: 0 !important;
        background: lighten($background-secondary, 5%);
        padding: .3rem .6rem;
        margin-right: .6rem;
        margin-bottom: .3rem;
        &:last-of-type {
          margin-right: 0;

        }


        // custom color label without border
        ion-icon {
          font-size: calc(#{$font-size-base * 1});
          height: 100%;
          width: 100%;

          border: 0;
          background: none;
          color: $font-color-tertiary;
          color: darken(color($colors, lightgrey),15%);

          &:after {
          display: none;
          }
        }
        h6 {
          margin-top: 0px;
          margin-bottom: 0;
          line-height: 1;
          padding: 0 0 0 .6rem;
          white-space: nowrap;
          font-size: 9px;
          color: inherit;
        }
      }

      // bookmark icon
      ion-icon {
        &.bookmark {
          position: absolute;
          left: calc(100% - 15px);
          top: -1px;
          font-size: 1.4rem;
          border-radius: 0;
          background: transparent;
          border: 0;
          &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: scale(2.6);
            background: linear-gradient(to right, rgba(255,255,255,0) , rgba(255,255,255,1) 25%);
          }
          &:before {
            border: $base-border;
            border-color: transparent;
            border-radius: 25px;
            background: transparent;
            color: darken(color($colors, lightgrey),22%);
            z-index: 2;
          }
          &.bookmark-active {
            &:before {
              border: $base-border;
              border-color: lighten($brand-primary, 40%);
              border-radius: 25px;
              background: lighten($brand-primary, 55%);
              color: $brand-primary;
              z-index: 2;
            }
          }

        }
      }
    }
    .card-content-bottom {
      // justify-content: flex-start;
    }
  }






  .parallel-session-title {
    margin: 0;
    padding: 0;
  }
  .speaker {
    padding-left: 0;
    padding-top: 4px;
    line-height: 30px;
    ion-avatar {
      display: inline-block;
      float: left;
      position: relative;
      z-index: 9;
      &:not(:first-child){
        margin-left: -16px;
      }
      &:nth-child(2) {
        z-index: 8;
      }
      &:nth-child(3) {
        z-index: 7;
      }
      &:nth-child(4) {
        z-index: 6;
      }
      &:nth-child(5) {
        z-index: 5;
      }
      &:nth-child(6) {
        z-index: 4;
      }
      &:nth-child(7) {
        z-index: 3;
      }
      &:nth-child(6) {
        z-index: 2;
      }
      &:nth-child(7) {
        z-index: 1;
      }
      img {
        width: 30px;
        height: 30px;
        border: 2px solid #fff;
      }
    }
    .speaker-name {
      float: left;
      display: inline-block;
      height: 36px;
    }
  }

}

session-list {
  @each $category, $value in auxiliary-categories() {
    /*ion-item-sliding[category=#{$category}] ion-card {

    }

    .card-label.#{$category} {
      background: map-get(map-get($agendaCategories, $category), light) !important;
      border-color: map-get(map-get($agendaCategories, $category), base) !important;
      color: map-get(map-get($agendaCategories, $category), base);

      ion-icon {
        color: map-get(map-get($agendaCategories, $category), base) !important;
      }
      h6 {
        color: map-get(map-get($agendaCategories, $category), base) !important;
      }
    }*/
  }

  .card-label {
    color: inherit;

    ion-icon {
      color: inherit !important;
      &:before {
        color: inherit;
      }
    }
    h6 {
      color: inherit;
    }
  }

  h4 {
    margin: 0 0 0.5rem 0 !important;
    font-size: 1.4rem;
    color: color($colors, darkgrey) !important;
    span {
      margin-right: 0.75rem;
      &:empty {
        display: none;
      }
    }
  }

}
